@import 'shared/styles';

$control-width: 100%;

// 1. Size controls (same for horizontal/vertical positions)
//    Also, place the element on the appropriate x/y axis
// 2. Location controls (different for each)
.sizeControl {
    @include rounded('md');

    z-index: 1;
    position: absolute;
    display: inline-block;
    height: .6rem; // calc($control-width / 12);
    width: .6rem; // calc($control-width / 12);

    opacity: 70;
    background-color: red;
    pointer-events: none;

    // [1]
    &.top,
    &.bottom {
        left: 50%;
        width: $control-width;
        // max-width: 50%;

        transform: translateX(-50%);
    }

    &.left,
    &.right {
        top: 50%;
        height: $control-width;
        // max-height: 50%;

        transform: translateY(-50%);
    }

    // [2]
    &.top {
        top: $spacing__xs;
        top: -.4rem;
    }

    &.bottom {
        bottom: $spacing__xs;
        bottom: -.4rem;
    }

    &.left {
        left: $spacing__xs;
        left: -.4rem;
    }

    &.right {
        right: $spacing__xs;
        right: -.4rem;
    }
}
