@use 'shared/styles';

// 1. All of the styles below are for debugging only since the page is very empty
.controller {
    display: flex;

    // [1]
    position: absolute;
    width: 100%;
    min-height: 100%;

    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: stretch;
    z-index: -1;

    &.vertical {
        height: 100%;
        flex-direction: column;
    }
}