:root {
    // Colors
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey-90: #191919;
    --color-grey-80: #333333;
    --color-grey-70: #4C4C4C;
    --color-grey-60: #666666;
    --color-grey-50: #7F7F7F;
    --color-grey-40: #999999;
    --color-grey-30: #B2B2B2;
    --color-grey-20: #CCCCCC;
    --color-grey-10: #E5E5E5;

    // Fonts
    --font-size-md: 1.6rem;
}
