$color__black: var(--color-black);
$color__white: var(--color-white);

$color__grey-90: var(--color-grey-90);
$color__grey-80: var(--color-grey-80);
$color__grey-70: var(--color-grey-70);
$color__grey-60: var(--color-grey-60);
$color__grey-50: var(--color-grey-50);
$color__grey-40: var(--color-grey-40);
$color__grey-30: var(--color-grey-30);
$color__grey-20: var(--color-grey-20);
$color__grey-10: var(--color-grey-10);
